<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nupp | Chat</title>
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../assets/ico/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" href="../../assets/css/chatstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div class="wrapper">

        <div class="sidebar"></div>
        <div class="chat">
            <div class="contact-info">Contacto</div>
            <div class="messages-area">Mensajes</div>
            <div class="text-area">Area de texto</div>

        </div>

    </div>

</body>

</html>