<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nupp | Sign in</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">

        <h1 class="logo">Nupp</h1>

        <div class="form-panel">
            <div class="form-header">
                <h2>Regístrate de manera gratuita</h2>
            </div>

            <form action="#" method="post" id="signin">

                <div class="form-input required">
                    <label for="signinName">Nombre</label>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input type="text" name="signinName" placeholder="Nombre" autofocus required>
                </div>

                <div class="form-input required">
                    <label for="signinSurname">Apellido</label>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input type="text" name="signinSurname" placeholder="Apellido" required>
                </div>

                <div class="form-input required">
                    <label for="signinEmail">Email</label>
                    <div class="input-icon">
                        <i class="fas fa-mail-bulk"></i>
                    </div>
                    <input type="email" name="signinEmail" placeholder="Email" required>
                </div>

                <div class="form-input required">
                    <label for="signinUsername">Nombre de usuario</label>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input type="text" name="signinUsername" placeholder="Usuario" required>
                </div>

                <div class="form-input required">
                    <label for="signinPassword">Contraseña</label>
                    <div class="input-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <input type="password" name="signinPassword" placeholder="Contraseña" required>
                    <div class="input-icon-eye">
                        <i class="far fa-eye"></i>
                    </div>
                </div>

                <div class="form-btn">
                    <button type="submit" name="login-btn" class="btn">Enviar</button>
                </div>

            </form>

            <div class="form-footer">
                <p>¿Tienes cuenta? <a href="login.html">Inicia sesíon</a></p>
            </div>
        </div>

    </div>

    <footer class="footer">
        <ul>
            <li><a href="#">Términos de uso</a></li>
            <li><a href="#">Privacidad</a></li>
            <li>&copy; 2020 Nupp</li>
        </ul>
    </footer>

    <script src="../../src/js/index.js"></script>
</body>

</html>