@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand/Quicksand-VariableFont_wght.ttf');
    font-weight: 300, 400, 500, 600, 700;
    font-style: normal;
}

:root {
    --color1: #46469b;
    --color1-hover: #363678;
    --input-heigth: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: #46469b;
    background-color: var(--color1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

input {
    font-weight: 600;
}

input,
button {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.required {
    position: relative;
}

.required::after {
    content: "*";
    display: block;
    position: absolute;
    height: 1rem;
    width: 1rem;
    top: .3rem;
    right: 0;
    color: #ff0000;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 5rem;
    padding: 0 2rem;
}

.logo {
    margin: auto;
    width: 7rem;
    text-align: center;
    padding: 1rem 0;
    border: 2px solid #fff;
    border-radius: .5rem;
    font-weight: bold;
    color: #fff;
    box-shadow: -15px -15px 0px #fff;
}

.form-panel {
    margin-top: 3rem;
    background-color: #fff;
    border-radius: .5rem;
}

.form-panel h2 {
    padding: 3rem 1rem;
    text-align: center;
}

.form-panel a {
    color: var(--color1);
}

#login,
#signin {
    max-width: 16rem;
    margin: 0 auto 2rem;
}

.form-input {
    position: relative;
    margin: 0 auto 1rem;
}

.no-data {
    position: relative;
}

.no-data::before {
    content: 'Faltan datos';
    display: block;
    position: absolute;
    padding: .3rem .5rem;
    border: 1px solid #ff0000;
    bottom: .4rem;
    right: -7rem;
    font-size: .8rem;
    background-color: #ff0000;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 3px 3px 6px -3px #000000e8;
}

.form-input label {
    display: inline-block;
    text-align: start;
    margin-bottom: .5rem;
}

.form-input input {
    display: block;
    height: var(--input-heigth);
    width: 100%;
    padding-left: 3rem;
    padding-right: 2.5rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    box-shadow: inset 0px 0px 7px -4px #272727;
    outline: none;
    font-size: .9rem;
}

.form-input input:focus {
    border-color: var(--color1);
}

.input-icon,
.input-icon-eye {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--input-heigth);
    width: var(--input-heigth);
    color: var(--color1);
}

.input-icon-eye {
    bottom: 0;
    left: unset;
    right: 0;
    color: #000;
}

.input-icon-eye i {
    cursor: pointer;
}

.input-icon::after {
    display: block;
    content: "";
    width: 1px;
    height: var(--input-heigth);
    background-image: linear-gradient(to top, rgba(212, 212, 212, 0) 0, #d4d4d4 30%, #d4d4d4 70%, rgba(212, 212, 212, 0) 100%);
    position: absolute;
    top: 0;
    left: var(--input-heigth);
}

.username-msg {
    text-align: center;
    color: #ff0000;
    margin-bottom: .5rem;
}

.form-btn {
    text-align: center;
}

.btn {
    border: none;
    padding: .8rem;
    width: fit-content;
    width: -moz-fit-content;
    color: #fff;
    background-color: #46469b;
    background-color: var(--color1);
    border-radius: .3rem;
    font-size: .9rem;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: #363678;
    background-color: var(--color1-hover);
}

.form-footer {
    position: relative;
}

.form-footer::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(212, 212, 212, 0) 0, #d4d4d4 20%, #d4d4d4 80%, rgba(212, 212, 212, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.form-footer p {
    text-align: center;
    padding: 2rem 0 2rem;
}

.footer {
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: 500px;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

.footer li {
    padding: .2rem .5rem;
}

.alert {
    padding: 1rem;
    text-align: center;
    margin: 0 auto 1rem;
    border-radius: .5rem;
}

.alert-danger {
    position: relative;
    border: 1px solid #ff3636;
    background-color: #ff3636;
    color: #fff;
}


/*
.alert-danger::after {
    content: '\00D7';
    display: block;
    position: absolute;
    top: .1rem;
    left: 2rem;
    color: #fff;
    font-size: 2rem;
}
*/

@media (max-width: 500px) {
    #login,
    #signin {
        padding: 0 1.5rem;
    }
}

.cssload-spin-box {
    margin: 2rem auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    -o-box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    -ms-box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    -webkit-box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    -moz-box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    animation: cssload-spin ease infinite 3s;
    -o-animation: cssload-spin ease infinite 3s;
    -ms-animation: cssload-spin ease infinite 3s;
    -webkit-animation: cssload-spin ease infinite 3s;
    -moz-animation: cssload-spin ease infinite 3s;
}

@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155);
    }
    50% {
        box-shadow: -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155);
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155);
    }
    50% {
        box-shadow: -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 12px -12px #dfdfdf, 12px 12px #4f4d49, -12px 12px #dfdfdf, -12px -12px #4f4d49;
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155);
    }
    50% {
        box-shadow: -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 12px -12px #dfdfdf, 12px 12px #4f4d49, -12px 12px #dfdfdf, -12px -12px #4f4d49;
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155);
    }
    50% {
        box-shadow: -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 12px -12px #dfdfdf, 12px 12px #4f4d49, -12px 12px #dfdfdf, -12px -12px #4f4d49;
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -12px 12px rgb(223, 223, 223), -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155);
    }
    50% {
        box-shadow: -12px -12px rgb(70, 70, 155), 12px -12px rgb(223, 223, 223), 12px 12px rgb(70, 70, 155), -12px 12px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 12px -12px #dfdfdf, 12px 12px #4f4d49, -12px 12px #dfdfdf, -12px -12px #4f4d49;
    }
}